<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>ECharts</title>
    <script src="js/echarts.min.js" defer></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            position: relative;
            overflow: hidden;
        }

        body::before {
            content: '© 2024 ACMBot. No rights reserved.';
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.2);
            pointer-events: none;
            z-index: 9999;
        }
    </style>
</head>

<body>
<div id="main" style="width: 1000px;height:500px;"></div>
<script>
    function convertToReadableDate(seconds) {
        const date = new Date(seconds * 1000);
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    document.addEventListener("DOMContentLoaded", function () {
        const origin_data = {{ .Data }}

        const rating_change_data = origin_data.map(item => {
            const readableDate = convertToReadableDate(item.at);
            return [readableDate, item.newRating];
        });

        const max_rating = Math.max(...rating_change_data.map(item => item[1]));
        const last_rating_change = rating_change_data[rating_change_data.length - 1][0]
        const view_rating = max_rating

        const chartDom = document.getElementById('main');
        const myChart = echarts.init(chartDom);

        const today = new Date()
        const today_str = today.getFullYear() + '-' +
            String(today.getMonth() + 1).padStart(2, '0') + '-' +
            String(today.getDate()).padStart(2, '0');

        option = {
            animation: false,
            grid: {
                left: '8%',  // 图表左边距，可以是像素值（如 '100'）或者百分比（如 '10%'）
                right: '5%', // 图表右边距
                top: '10%',   // 图表上边距
                bottom: '10%' // 图表下边距
            },
            title: {
                text: '{{.Handle}}',
                subtext: today_str,
                left: 'center',
            },
            xAxis: {
                type: 'time',
                axisLabel: {
                    formatter: function (value) {
                        const date = new Date(value);
                        const year = date.getFullYear().toString().substring(2, 4);
                        const month = (date.getMonth() + 1).toString().padStart(2, '0');
                        const day = date.getDate().toString().padStart(2, '0');
                        return `${year}-${month}-${day}`;
                    },
                    rotate: 0,
                },
                min: function (value) {
                    return new Date(value.min - (value.max - value.min) * 0.05);
                },
                max: function (value) {
                    return new Date(value.max + (value.max - value.min) * 0.05);
                },
            },
            yAxis: {
                type: 'value',
                axisTick: {
                    show: false
                },
                min: function (value) {
                    return value.min - 100;
                },
                max: function (value) {
                    return value.max + 100;
                },
                axisLabel: {
                    show: false
                },
                splitLine: {
                    show: false
                }
            },

            series: [{
                data: rating_change_data,
                type: 'line',
                smooth: true,
                itemStyle: {
                    color: '#5470C6', // 设置数据点的颜色，这里使用深灰色
                },
                label: {
                    show: true,
                    position: 'top',
                    formatter: function (params) {
                        if (params.data[1] >= view_rating || params.data[0] === last_rating_change) {
                            return params.data[1]
                        }
                        return ""
                    }
                },
                markArea: {
                    silent: true,
                    data: [
                        [{ yAxis: 0 }, { yAxis: 1200, itemStyle: { color: '#CCCCCC' } }],
                        [{ yAxis: 1200 }, { yAxis: 1400, itemStyle: { color: '#77FF77' } }],
                        [{ yAxis: 1400 }, { yAxis: 1600, itemStyle: { color: '#77DDBB' } }],
                        [{ yAxis: 1600 }, { yAxis: 1900, itemStyle: { color: '#AAAAFF' } }],
                        [{ yAxis: 1900 }, { yAxis: 2100, itemStyle: { color: '#FF88FF' } }],
                        [{ yAxis: 2100 }, { yAxis: 2300, itemStyle: { color: '#FFCC88' } }],
                        [{ yAxis: 2300 }, { yAxis: 2400, itemStyle: { color: '#FFBB55' } }],
                        [{ yAxis: 2400 }, { yAxis: 2600, itemStyle: { color: '#FF7777' } }],
                        [{ yAxis: 2600 }, { yAxis: 3000, itemStyle: { color: '#FF3333' } }],
                        [{ yAxis: 3000 }, { yAxis: 4000, itemStyle: { color: '#AA0000' } }],
                        [{ yAxis: 4000 }, { yAxis: 9999, itemStyle: { color: {
                                    type: 'linear',
                                    x: 0,
                                    y: 0,
                                    x2: 1,
                                    y2: 1/4,
                                    colorStops: [
                                        {offset: 0, color: '#FF0000'},
                                        {offset: 1 / 6, color: '#FFA500'},
                                        {offset: 2 / 6, color: '#FFFF00'},
                                        {offset: 3 / 6, color: '#00FF00'},
                                        {offset: 4 / 6, color: '#0000FF'},
                                        {offset: 5 / 6, color: '#4B0082'},
                                        {offset: 1, color: '#9400D3'}
                                    ],
                                    global: false
                                } } }],
                    ]
                },
                markLine: {
                    silent: true,
                    symbol: 'none',
                    label: {
                        position: 'start',
                        formatter: '{c}'
                    },
                    data: [
                        { yAxis: 1200 },
                        { yAxis: 1400 },
                        { yAxis: 1600 },
                        { yAxis: 1900 },
                        { yAxis: 2100 },
                        { yAxis: 2300 },
                        { yAxis: 2400 },
                        { yAxis: 2600 },
                        { yAxis: 3000 },
                        { yAxis: 4000 },

                    ],
                    lineStyle: {
                        color: 'gray',
                        type: 'dashed'
                    }
                }
            }]
        };
        option && myChart.setOption(option);
    });
</script>
</body>

</html>